*{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
}


.signup_container{

    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.signup_form{
    border: 1px solid gray;
    padding:20px;
    border-radius: 10px;
    width:30%;
}

.form_input{
    padding: 8px;
    border-radius: 5px;
    margin-top: 2px;
    width:100%;
    border:1px solid rgb(216,213,213);
}
button{
    width:100%;
    padding:8px;
    border-radius: 5px;
    border: 1px solid rgb(216,213,213);
}
.signup_button{

    background-color: rgb(17,80,227);
    color:white;

}
.Login_button{
    background-color: rgb(3,177,18);
}

.signup_button{
    margin-top:8px;
}



















/* *{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
}


.signup_container{

    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.signup_form{
    border: 1px solid gray;
    padding:20px;
    border-radius: 10px;
    width:30%;
}

.form_input{
    padding: 8px;
    border-radius: 5px;
    margin-top: 2px;
    width:100%;
    border:1px solid rgb(216,213,213);
}
button{
    width:100%;
    padding:8px;
    border-radius: 5px;
    border: 1px solid rgb(216,213,213);
}
.signup_button{

    background-color: rgb(17,80,227);
    color:white;

}
.Login_button{
    background-color: rgb(3,177,18);
}

.signup_button{
    margin-top:8px;
} */