*{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
}
.navbar-header{
  width:100%;
  height:40px;
  padding:15px 25px;
  color:white;
  display:flex;
  justify-content: space-between;
  align-items: center;
  background:linear-gradient(79deg,rgb(1,5,60),rgb(27,4,30),rgb(2,2,100));


}
.link{
  color:white;
  text-decoration: none;
  margin:0px 10px;
}
.btn_input{
  background-color: transparent;
  border:none;
  color:greenyellow;
  font-weight: bolder;
  cursor: pointer;
}